body{
    /* font-family: 'Fira Sans', sans-serif; */
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
 font-weight: bold;
 letter-spacing: 2px;
}

.heading {
 font-size: 20px;
}
.subheading {
 font-size: 14px;
 font-weight: bold;
 padding-bottom: 60px;
}
.bold {
 font-weight: bold;
}
.scrolled{
  background-color: #000;
}

p {
 line-height: 28px;
 font-size: 15px;
}

a {
 outline: none !important;
}

hr {
 width: 180px;
 border-color: #CCC;
 margin-left: 25%;
}

.section-title strong {
   color: #00C6D7;
     font-size: 56px;
}
header{
    background-color: #FFF9F7;
}
.section-title h1 {
   font-size: 24px;
}

.section-title {
 padding-bottom: 32px;
}

.medium-icon {
 font-size: 32px !important;
}

#work,#about{
  padding-top: 100px;
 padding-bottom: 100px;
}
nav {
  padding: 0 15px;

}
.menu a{
  color: #051441;
  text-decoration: none;
  font-size: 16px;
}
.menu {
    list-style-type: none;
  }
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.logo img{
    width: 150px;
}
.item {
  padding: 10px 20px;
}
.item.button {
  padding: 9px 30px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #000;
}

  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .menu li a {
    display: block;
    padding: 15px 5px;
  }
  
  .toggle {
    order: 1;
    font-size: 20px;
  }
  .item.button {
    order: 2;
  }
  .item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
  }
  .active .item {
    display: block;
  }
  .button.secondary {
      /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
  }

    /* Tablet menu */
  @media all and (min-width: 700px) {
      .menu {
      justify-content: center;
     }
      .logo {
      flex: 1;
      }
      .item.button {
      width: auto;
      order: 1;
      display: block;
      }
      .toggle {
      flex: 1;
      text-align: right;
      order: 2;
      }
      /* Button up from tablet screen */
      .menu li.button a {
      padding: 10px 15px;
      margin: 5px 0;
      }
      .button a {
      background: #009C71;
      border: 1px #009C71 solid;
      }
      .button.secondary {
      border: 0;
      }
      .button.secondary a {
      background: transparent;
      border: 1px #009C71 solid;
      color: #009C71;

      }
      .button a:hover {
      text-decoration: none;
      }
      .button:not(.secondary) a:hover {
      background: #009C71;;
      border-color: #009C71;;
      }
    }
    /* Desktop menu */
@media all and (min-width: 960px) {
      .menu {
      align-items: flex-start;
      flex-wrap: nowrap;
      background: none;
      }
      .logo {
      order: 0;
      }
      .item {
      order: 1;
      position: relative;
      display: block;
      width: auto;
      }
      .button {
      order: 2;
      }
      .toggle {
      display: none;
      }
}
#first-lead h1{
    width: 489px;
    height: 134px;
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;
    color: #161616;
}
#first-lead p{
    width: 507px;
    height: 96px;
    font-size: 20px;
    line-height: 160%;
    margin-top: -25px;
}
.img-place img{
    width: 350px;
    height: 429px;
}
#top-button{
    padding-top: 15px;
}
.d{
    border: 1px #009C71 solid;
    padding: 13px 26px;
    width: 152px;
    height: 58px;
    text-decoration: none;
}
.first{
    background-color: #009C71;
    color: #fff;
}
.second{ 
    background-color:transparent;
    color: #009C71;
    margin-left: 10px;
}

/* OUR GOAL IS */
#main-text{
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    margin-top: 25px;
  }
#inners{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.inner-box{
    width: 200px;
    height: 114px;
    background: transparent;
    border: 2px solid #000000;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 40px;
}
.p{
    text-align: center;
    margin: 6px 0px;
    color: #000;
    line-height: 120%;
    font-size: 32px;
}
.inner-text{
    font-weight: 600;
}
.text-in{
    font-style: normal;
    font-weight: normal;
}
   /* WHY */
#second-lead h1{
    width: 119px;
    height: 67px;
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    
}
#second-lead p{
    width: 504px;
    height: 242px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
}
.img-places img{
    width: 400px;
    height: 429px;
    margin-left: -150px;
}
   /* HOW */
#how-lead h1{
    width: 327px;
    height: 67px;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
}
#how-lead p{
    width: 534px;
    height: 241px;
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
}
.img-placet img{
  width: 350px;
  height: 429px;
}
   /* OUR WORKSHOP FOCUSES ON */
#second-box{
    width: 1200px;
    height: 406px;
    background: #FCC200;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border: 2px solid #000000;
    box-sizing: border-box;
}
#second-inners{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.second-inner-box{
    width: 186px;
    height: 129px;
    box-sizing: border-box;
    margin-left: 20px;
}
.second-inner-img{
   font-weight: 600;
   font-size: 40px;
   line-height: 120%;
   color: #000;
   text-align: center;
   margin-bottom: -5px;
}
.second-inner-img img{
    width: 150px;
    height: 150px;
    margin-bottom: 10%;
}
.second-text-in{
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #000;
  text-align: center;
}

#second-out-box{
  width: 227px;
  height: 64px;
  background:  #3570F5;
  border: 2px solid #3570F5;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  color: #fff;
}
#second-out-text{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height:3;
  text-align: center;
}
  
/* ARE INTERESTED IN MAKING AN IMPACT */
      
#third-lead h1{
    width: 493px;
    height: 96px;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
}
.black-star{
    float: right;
    margin-top: -450px;
    margin-right: -120px;
}
#third-lead p{
    width: 589px;
    height: 160px;
    font-size: 20px;
    line-height: 160%;
    padding-top: 20px;
}
#fourth-lead h5{
    width: 120px;
    height: 76px;
    font-weight: normal;
    font-size: 24px;
    line-height: 160%;
}
#fourth-lead p{
    width: 128px;
    height: 26px;
    font-size: 16px;
    line-height: 160%;
}
   /* BECOME A PARTNER */
.bottom-container{
    width: 100%;
    height: 427px;
    background: #FFF9F7;
}
.mid-container{
    padding-top: 10px;
    text-align: center;
}
.main-img{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}
.mid-img{
     padding-left: 100px;
     padding-top: 20px;
     padding-bottom: 15px;
}
.third-out-box{
    width: 227px;
    height: 64px;
    background: #009C71;
    border: 2px solid #009C71;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}
.third-out-text{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height:3;
    text-align: center;
    color: #fff;
}
.mid-img img{
    width: 106px;
}

   /* ROXBOURG AREA */
.roxbourg-area{
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.f{
    padding-left: 20px; 
}
.inners-roxbourg p{
    width: 392px;
    height: 58px;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
}
.innere-roxbourg{
    width: 390px;
    height: 133px;
    font-size: 12px;
    line-height: 160%;
}

   /* SUPPORT US */ 
#help{
  width: 593px;
  height: 134px;
  text-align: center;
  font-weight: normal;
  font-size: 56px;
  line-height: 120%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}
.fourth-out-box{
  width: 227px;
  height: 64px;
  background: #009C71;
  border: 2px solid #009C71;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}
.fourth-out-text{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height:3;
  text-align: center;
  color: #fff;
}
footer{
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 20px;
  background: #FFF9F7;
  color: #000;
  padding-top: 30px;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 15px;
}
footer .content a{
  color: #000;
  text-decoration: none;
  margin-top: 20px;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 70px;
  font-weight: 400;
  font-size: 20px;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
.phone a{
  line-height:70px;
}
footer .bottom{
  width: 100%;
  text-align: right;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
  footer .content .middle a{
    line-height: 30px;
    font-size: 16px;
  }
}

@media  (max-width: 440px)  {
    #first-lead h1{
        width: 327px;
        height: 144px;
        font-size: 35px;
        line-height: 120%;
    }
    #first-lead p{
        width: 320px;
        height: 104px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
    }
    #inners{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        /* WHY */
    #secondlead h1{
      width: 119px;
      height: 38px;
      font-size: 32px;
    }
    #second-lead p{
        width: 328px;
        height: 260px;
        font-size: 16px;
        line-height: 160%;
    }
    .img-places img{
      width: 350px;
      height: 429px;
      margin-left: 0px;
  }
       /* HOW */
    #how-lead h1{
      width: 327px;
      height: 38px;
      font-size: 32px;
    }
    #how-lead p{
      width: 330px;
      height: 208px;
      font-size: 16px;
    }
    .img-placet img{
      margin-top: -70px;
      width: 350px;
      height: 429px;
    }
    .inner-box{
        margin-left: 0px;
    }
    #second-box{
        width: 326px;
        height: 649px;
    }
    #second-inners{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    .second-inner-box{
        width: 186px;
        height: 129px;
        box-sizing: border-box;
        margin-left: 0px;
        margin-top: 25px;
    }
     .second-inner-text img{
        width: 34.49px;
        height: 48.09px;
    }
    .second-inner-img img{
      width: 70px;
      height: 70px;
      margin-bottom: 10%;
  }
     #second-out-box{
        margin-top: 50px;
    }
    #third-lead h1{
        width: 326px;
        height: 76px;
        font-size: 32px;
    }
    #third-lead p{
        width: 323px;
        height: 182px;
        font-size: 16px;
        line-height: 160%;
        padding-top: 30px;
    }
    .black-star{
      display: none;
    }
    .bottom-container{
        width: 100%;
        height: 456px;
        background: #FFF9F7;
        margin-top: 3%;
    }
    .main-img{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
   }
   .mid-img img{
        width: 76.4px;
   }
   .mid-img{
      padding-left: 15px;
      padding-top: 20px;
      padding-bottom: 15px;
   }
   .roxbourg-area{
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      margin-left: 0px;
   }
   .inners-roxbourg p{
      width: 298px;
      height: 87px;
   }
    .innere-roxbourg{
      width: 304px;
      height: 190px;
      margin-top: 15px;
      margin-bottom: 20px;
   }
   #help{
    width: 311px;
    height: 144px;
    font-size: 40px;
    margin-top: 100px;
  }
  .fourth-out-box{
    margin-top: 80px;
  }
  .fourth-out-text{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height:3;
    text-align: center;
    color: #fff;
  }
  
}
